dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.2.2
geocoder==1.38.1
jupyter_client==7.4.4
jupyter_core==4.11.2
numpy==1.23.4
pandas==1.5.1
==4.8.0
plotly==5.11.0

